.news-column {

    width: 180px;

    color: #5C3317;

    font-size: 15px;
}

.title-column {

    color: #5C3317;

    font-size: 15px;
}

.pdf-column {

    width: 60px;

    text-align: center;
}
.table {
    border: none !important;
}

.table td,
.table th,
.table tr {
    border: none !important;
}