:root {
    --wbhs-primary: #6b2f11;
    --wbhs-menu-bg: #e7dbc0;
    --wbhs-menu-hover: #d9c8a8;
    --wbhs-login: #f89b34;
    --wbhs-login-hover: #d97706;
}
html,
body {
    height: 100%;
    margin: 0;
}
body {
    min-height: 100vh;
}

app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content-card {
    background: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 15px;
}

.content-card-header {

    text-align: center;

    font-size: 28px;

    font-weight: 700;

    padding: 12px;

    text-decoration: underline;

    //border-bottom: 1px solid #d8d8d8;
}