.wbhs-footer {

    background: #ddd2b5;

    border-top: 1px solid #c5b999;

    padding: 10px 15px;

    text-align: center;

    color: #2d2d2d;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-size: 13px;

    font-weight: 700;
}

.footer-text {
    line-height: 1.3;
}